/* .column25 {
    float: left;
    margin: 0;
    width: 25%;
}
.column25right {
    float: right;
    margin: 0;
    width: 25%;
}

.column50 {
    float: left;
    margin: 0;
    width: 50%;
}

.standard_image {
    height: 50vh;
    width: auto;
    border-radius: 50%;
} */
