body{
  background-color: #252525
;
  color: white;
  /* color: #b51212; */
}

.nameLiHL {
  /* text-align: middle; */
  list-style-type: none;
  margin: 10px;
  font-weight: 200;
}

.nameLiTextHL {
  font-size: 20pt;
  font-weight: 300;
  font: arial;
}

.information-imageHL {
  width: 15vw;
  height: auto;
  object-fit: contain;
}

.nameProfileHL {
  text-align: center;
  font-size: 80pt;
  font-weight: 300;
}

.descriptionProfileHL {
  text-align: center;
  font-size: 25pt;
}

.statusProfileHL {
  text-align: center;
  font-style: bold;
  font-size: 30pt;
}
