#title {
  text-align: center;
}

.new-mark-form {
  background-color: #1E1E1E;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  align-self: stretch;
}

.thumbnail {
    border-radius: 50px;
    height: 10vh;
    width: 10vh;
    overflow: hidden;
    object-fit: cover;
}

.appName{
  font-size: 30pt;
  font-weight: 400;
  font: comic;
}

.nameLi {
  /* text-align: middle; */
  list-style-type: none;
  margin: 10px;
}

.nameLiText {
  font-size: 20pt;
  font-weight: 300;
  font: arial;
}

.information-image {
  width: 15vw;
  height: auto;
  object-fit: contain;
}

.nameProfile {
  text-align: center;
  font-size: 80pt;
}

.descriptionProfile {
  text-align: center;
  font-size: 25pt;
}

.statusProfile {
  text-align: center;
  font-style: bold;
  font-size: 30pt;
}

.container {
  width: 25vw;
  height: 25vw;
  position: relative;
}

.profile-image {
  width: 100%;
  height: 97%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.cat-overlay {
  display: block;
  position: absolute;
  top: 55%;
  left: 65%;
  height: 40%;
  width: 40%;
  opacity: 0.5;
  transform: rotate(15deg);
  transition: 1s ease;
}

.mark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit:cover;
  opacity: 0.5;
}

.hidden-overlay{
  display: none;
}
