#title {
  text-align: center;
}

.thumbnail {
    border-radius: 50px;
    height: 10vh;
    width: 10vh;
    overflow: hidden;
    object-fit: cover;
}

.nameLi {
  /* text-align: middle; */
  list-style-type: none;
  margin: 10px;
}

.profile-image {
  width: 25vw;
  height: 25vw;
  overflow: hidden;
  object-fit: cover;
  /* align-items: baseline; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.information-image {
  width: 15vw;
  height: auto;
  object-fit: contain;
}

.nameProfile {
  text-align: center;
}
